.menu > ul {
    list-style-type: none;
    margin: 1em 0;

    display: grid;
    gap: 1em 0;
    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 800px) { 
    .menu > ul {
        margin: 1em 1em;

        justify-content: start;
        grid-auto-flow: column;
        gap: 0 1em;
    } 
}

.menu > ul > li >button {
    width: min-content;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.full-bleed {
    display: grid;
    grid-template-columns: 
    [full-start]minmax(2rem, 1fr)
    [main-start] minmax(min-content, 70ch)
    [main-end] minmax(2rem, 1fr)
    [full-end];
}

.full-bleed > img {
    grid-column: full-start / full-end;
    width: 100%;
}

.full-bleed > p {
    grid-column: main-start / main-end;
    margin: 2em 0;
}

.content-container {
    display: grid;
    grid-template-columns: 
    [full-start]minmax(2rem, 1fr)
    [main-start] minmax(min-content, 80rem)
    [main-end] minmax(2rem, 1fr)
    [full-end];
}

.six-cards-wrapper {
    grid-column: main-start / main-end;
    margin: 5rem 0;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 5rem;
    justify-items: center;
}

.card {
    background-color: var(--color-lavander);
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.card_avatar {
    background-color: var(--color-creme);
    border: 0.2em solid #ffffff;
    border-radius: 50%;
    width: 5em;
    max-width: 100%;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 100;
    justify-self: center;
    align-self: start;
    transform: translateY(-50%);
}

.card_image {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.card_feature {
    display: flex;
    align-items: center;

    margin: 0 1em;
    color: #ffffff;
}

.card_check-icon {
    margin-right: 0.5em;

    fill: #ffffff;
}

.card_button {
    grid-column: 1 / -1;

    margin: 0 auto 2em auto;
}
